<p>Overall Employee Billing Trends</p>
<!-- <mat-card>
    <div class="title">Overall Employee Billing Trends</div>
    <div class="card-content">
        <div class="chart">
            <canvas baseChart
                [data]="data"
                [labels]="labels"
                [chartType]="type"
                [options]="options"
                [legend]="legend"
                [plugins]="plugins"
                [colors]="colors">
            </canvas>
        </div>
        <div class="labels">
            <ul>
                <li *ngFor="let label of labels; let labelIndex = index">
                   <span class="bullet-point" [ngStyle]="{'backgroundColor' : colors[0].backgroundColor[labelIndex]}"></span>  
                   <span class="label-text">{{label}}</span>
                </li>
            </ul>
        </div>
    </div>
</mat-card>
 -->
