<mat-toolbar class="top">
    <mat-toolbar-row>
        <div class="mat-title">
            <span *ngIf="data.action == 'create'">Create New Client</span>
            <span *ngIf="data.action == 'update'">Update Client</span>
        </div>
        <div class="spacer"></div>
        <button mat-icon-button color="warn" (click)="close()"> 
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<form autocomplete="off" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formContainer">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" [hideRequiredMarker]="false">
                    <mat-label>Client Name</mat-label>
                    <input type="text" formControlName="client" required matInput placeholder="Enter client name...">
                    <mat-error *ngIf="hasError('client', 'required')">Client name is mandatory.</mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill" [hideRequiredMarker]="false">
                    <mat-label>Industry</mat-label>
                    <input type="text"
                           placeholder="Select Industry"
                           aria-label="Industry"
                           required
                           matInput
                           formControlName="industry"
                           [matAutocomplete]="industryAuto">
                    <mat-autocomplete #industryAuto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredIndustries | async" [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="hasError('industry', 'required')">Industry is mandatory.</mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill" [hideRequiredMarker]="false">
                    <mat-label>Website URL</mat-label>
                    <input type="text" formControlName="website" required matInput placeholder="Enter website url...">
                    <mat-error *ngIf="hasError('website', 'required')">Website URL is mandatory.</mat-error>
                    <mat-error *ngIf="hasError('website', 'pattern')">Website URL is not a valid URL.</mat-error>
                    <mat-hint *ngIf="!field.website.value">Webstie URL should be a valid URL like: https://www.puresoftware.com</mat-hint>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill" [hideRequiredMarker]="false">
                    <mat-label>Country</mat-label>
                    <input type="text"
                           placeholder="Select Country"
                           aria-label="Country"
                           required
                           matInput
                           formControlName="country"
                           [matAutocomplete]="countryAuto">
                    <mat-autocomplete #countryAuto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredCountries | async" [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="hasError('country', 'required')">Country is mandatory.</mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <div class="uploadLogo">
                    <div class="fileUpload clickable" matRipple>
                        <button type="button" mat-stroked-button color="primary">
                            <mat-icon>file_upload</mat-icon>
                            {{clientLogo ? 'Change Client Logo' : 'Upload Client Logo'}} 
                            <mat-chip-list *ngIf="clientLogo">
                                <mat-chip>{{clientLogo.name}}</mat-chip>
                            </mat-chip-list>
                            <div class="hintContainer" *ngIf="!logoValidationErrorMsg && !clientLogo">
                                <mat-hint>Please upload a logo image with ".png" or ".svg" extension.</mat-hint>
                            </div>
                            <mat-error *ngIf="logoValidationErrorMsg">{{logoValidationErrorMsg}}</mat-error>
                        </button>
                        <input class="browseFile" name="clientLogo" type="file"  (change)="onLogoSelect($event, 'clientLogo', 'logoValidationErrorMsg')">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="uploadLogo">
                    <div class="fileUpload clickable" matRipple>
                        <button type="button" mat-stroked-button color="primary">
                            <mat-icon>file_upload</mat-icon>
                            {{clientLogoIcon ? 'Change Client Logo Icon' : 'Upload Client Logo Icon'}} 
                            <mat-chip-list *ngIf="clientLogoIcon">
                                <mat-chip>{{clientLogoIcon.name}}</mat-chip>
                            </mat-chip-list>
                            <div class="hintContainer" *ngIf="!logoIconValidationErrorMsg && !clientLogoIcon">
                                <mat-hint>Please upload a logo image with ".png" or ".svg" extension.</mat-hint>
                            </div>
                            <mat-error *ngIf="logoIconValidationErrorMsg">{{logoIconValidationErrorMsg}}</mat-error>
                        </button>
                        <input class="browseFile" name="clientLogoIcon" type="file"  (change)="onLogoSelect($event, 'clientLogoIcon', 'logoIconValidationErrorMsg')">
                    </div>
                </div>
            </div>

            <div class="col extended100">
                <div class="editorField" [class.error]="hasError('description', 'required') && field.description.touched">
                    <mat-label>About Client *</mat-label>
                    <ckeditor [config]="editorConfig" [editor]="Editor" formControlName="description"></ckeditor>
                    <mat-error *ngIf="hasError('description', 'required') && field.description.touched">About client is mandatory.</mat-error>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="spacer"></div>
            <button mat-flat-button color="accent" [disabled]="form.invalid || submitted || !form.dirty">
                <mat-icon>account_balance</mat-icon>&nbsp;
                <span *ngIf="data.action == 'create'">Create</span>
                <span *ngIf="data.action == 'update'">Update</span> 
                Client&nbsp;
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</form>