@import "../../../custom-theme.scss";

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mat-card {
    padding: 0;
}

.mat-card-content {
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
}

.mat-card-content table {
    width: 100%;
    background-color: transparent;
}

td.mat-cell {
    border-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    color: #000000;
    padding-right: 16px;
    vertical-align: top;
}

.mat-card-content table::ng-deep tbody tr:nth-child(odd){
    background: #fdfdfd !important;
}

.mat-card-content table::ng-deep tbody tr:nth-child(even){
    background: #f5f5f5 !important;
}

.mat-card-content table::ng-deep tr.mat-header-row{
    height: 52px;
}

.mat-card-content table::ng-deep .mat-sort-header-button, .mat-card-content table::ng-deep .mat-header-cell {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 16px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 16px;
}

.mat-paginator {
    background-color: transparent;
}

.cellLeftBorder {
    border-left: 1px solid rgba(0,0,0,0.12);
    padding-left: 16px;
}

.statusLabel .mat-chip {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center !important;
    display: block !important;
    color: #ffffff !important;
    font-weight: 400;
    line-height: 18px;
    pointer-events: none;
}

.statusLabel .mat-chip.submitted {
    background: $primaryA100;
    border: 1px solid $primaryA200;
    
}

.statusLabel .mat-chip.rejected {
    background: $warnA100;
    border: 1px solid $warnA200;
    
}

.statusLabel .mat-chip.approved {
    background: $accentA200;
    border: 1px solid $accent;
    text-shadow: 0px 0px 15px rgba(0, 200, 83, 0.8);
}

.actionButton {
    margin-top: -5px;
    margin-right: 16px;
}

.paddingRight40 {
    padding-right: 40px !important;
}